<% if (messages.error){ %>
    <div class="alert alert-danger"><%= messages.error %></div>
<% } %>

<% if (messages.errorRegister){ %>
    <div class="alert alert-danger"><%= messages.errorRegister %> Login <a href='login'>here</a>.</div>
<% } %>

