<% include ("partials/header.ejs") %>

<form action="/addUser" method="POST">
    <input id="email" name="email" placeholder="email" type="email" required>
    <input id="username" name="username" placeholder="Username" required>
    <input id="password" name="password" type="password" placeholder="Password" required>
    <button type="submit">Submit</button>
</form>

<% include ("partials/footer.ejs") %>